.search-wrapper {
  display: flex;
}

.create-button {
  margin-left: 50px;
}

.list-wrapper {
  margin-top: 20px;
}

.list-groups {
  display: flex;
  border : 1px solid gray;
}

.tag-wrapper {
  flex-grow  : 1;
  border     : 1px solid gray;
  width      : 100px;
  font-weight: bold;
}

.groups-wrapper {
  flex-grow: 10;
  border   : 1px solid gray;
  display  : flex;
}


.group-wrapper {
  width : 33%;
  border: 1px solid gray;
}

.group-wrapper textarea {
  width : 100%;
  height: 100%;
}

.group-wrapper textarea:focus {
  height: 200px;
}