.list-groups {
  display: flex;
  border : 1px solid green;
}

.tag-wrapper {
  flex-grow: 1;
  border   : 1px solid green;
  width    : 100px;
}

.groups-wrapper {
  flex-grow: 10;
  border   : 1px solid green;
  display  : flex;
}


.group-wrapper {
  width : 33%;
  border: 1px solid green;
}

.group-wrapper textarea {
  width: 100%;
}